<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>[Note] Effective OC - Item 23~25</string>
		<key>time</key>
		<string>11小时前</string>
	</dict>
	<dict>
		<key>title</key>
		<string>[Note] Effective OC - Item 19~22</string>
		<key>time</key>
		<string>昨天</string>
	</dict>
	<dict>
		<key>title</key>
		<string>MiniWeather</string>
		<key>time</key>
		<string>12.07</string>
		<key>photo</key>
		<string>MiniWeather</string>
	</dict>
	<dict>
		<key>title</key>
		<string>[Note] Effective OC - Item 16~18</string>
		<key>time</key>
		<string>12.06</string>
	</dict>
	<dict>
		<key>title</key>
		<string>[Note] 渐变色的绘制</string>
		<key>time</key>
		<string>12.06</string>
		<key>photo</key>
		<string>colorGradient</string>
	</dict>
	<dict>
		<key>title</key>
		<string>[Note] Effective OC - Item 13~15</string>
		<key>time</key>
		<string>12.05</string>
	</dict>
	<dict>
		<key>title</key>
		<string>[Note] Effective OC - Item 10~12</string>
		<key>time</key>
		<string>12.04</string>
	</dict>
</array>
</plist>
